# Editors
.vscode/
.idea/

# MacOS
.DS_Store

# Distribution / packaging
__pycache__/
lib/

# Outputs
data/
output/
res/
figs/

# Project-specific
_extras/
scripts/run_multarm_imbalance_sims.sh
scripts/run_multarm_imbalance_visualization.sh

