# Editors
.vscode/
.idea/

# MacOS
.DS_Store

# Distribution / packaging
__pycache__/
lib/

# Testing
notebooks/

# Outputs
data/
output/
res/
res_resub/
figs/
figs_resub/
rerand_type1error

# Project-specific
_extras/
scripts/run_multarm_imbalance_sims.sh
scripts/run_multarm_imbalance_visualization.sh
scripts/sherlock*
igr-env
